#hero{
  background-image: url("../images/bigpizza.jpg");
  background-size: 1250px 800px;
  background-repeat: no-repeat;
  background-position: center;
}

#hero h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  text-align: left;
  padding-top: 300px;
  padding-bottom: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: gray;
    text-decoration: none;
}

.active {
    border: 2px solid #ffffff;
}
