#hero{
  background-image: url("../images/bigpizza.jpg");
  background-size: 1300px 832px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

#hero h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 75px;
  text-align: left;
  padding-top: 250px;
  padding-bottom: 250px;
  padding-left: 50px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ffffff;
    position: fixed;
    top: 30px;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: gray;
    text-decoration: none;
}

.active {
    border: 2px solid #ffffff;
    text-decoration: none;
}

.container {
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: 'Montserrat:', sans-serif;
  font-weight: 400;
  font-size: 15px;

}
#bannerimage {
  width: 100%;
  background-image: url(../images/headerravioli.jpg);
  background-size: 1300px 863.4328358209px;
  height: 200px;
  background-color: white;
  background-position: center;
}

.tomatos{
  margin-left: 200px;
  margin-right: 20px;
}
.noodles{
  margin-right: 200px;
}
.peppers{
  margin-top: 10px;
  margin-right: 200px;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Montserrat:', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
}

.paragraph {
  font-family: 'Montserrat:', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
}
.menu-item {
  margin-top: 25px;
}
.menu-item-name {
  font-family: 'Montserrat:', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
}

.daily-specials-day {
  font-family: 'Montserrat:', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
  line-height: 300%;
  padding-top: 0px
}
.menu-item-description {
  font-family: 'Montserrat:', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 15px;
}
.daily-specials-description {
  font-family: 'Montserrat:', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 20px;
  line-height: 300%;
  padding-top: 0px
}
